.dashboard-1stAP-bg{
    -fx-background-color: linear-gradient(to right, #A8dee0,#e7e7e7);
}
.dashboard-2ndAP-bg{
    -fx-background-color: #ffffff;
    -fx-background-radius:20px;
}
.dashboard-3rdAP-bg{
    -fx-background-color: linear-gradient(to top,#4adede,#329d9c);
    -fx-background-radius: 20 0 0 20px;
}